<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruleta</title>
    <script src="/js/ruleta.js" defer></script>
    <script src="/js/helpers.js" defer></script>
    <link rel="stylesheet" href="/style/ruletaStyle.css">
</head>
<body>
<span id="dinero" style="position: absolute; top: 20px; left: 20px;">Dinero: <span id="cantidadDinero">1500</span></span>
<h1>Juego ruleta</h1>
<div id="container">
    <div id="marcador">
        <div id="cartelGanador">
            <p id="ganadorTexto">Numero ganador</p>
        </div>
    </div>
</div>
<div id="ruleta"></div>

<div class="rectanguloApuesta">
    <p>Seleccione el numero para su apuesta</p>
    <button id="sortear">Girar</button>
    <div class="botonesNum">
        <button>2</button>
        <button>3</button>
        <button>5</button>
        <button>10</button>
    </div>
</div>
<div class="rectangulo">
    <p>Seleccione su apuesta</p>
    <button>10</button>
    <button>50</button>
    <button>100</button>
    <button>500</button>
</div>
<div class="rectanguloIzq">
    <p>Numero a apostar: <span id="numeroSeleccionado"></span></p>
    <p>Cantidad a apostar: <span id="cantidadSeleccionada"></span></p>
</div>

<script>

</script>
</body>